
extends ./layout/index 


block contenido 
    main.container.mt-5 
        .row
            .col-md-5

                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")

            .col-md-t 
                h1 #{pagina}
                blockquote otro dia vi en las noticias una notica muyinteresatne. Me impacto ver que un tunel se habia undido.Enseñaron un video con la situacion de angustia que se vivioen aquel instante. Por esa causa me fui a ver como habiaquedado el tunel, el tunel estaba cerca de mi casa.
                p echo un asco... Todo estaba tirado por el suelo, llenode                    Habia mas gente como yo mirando poralli, me aceque a un hobmre                lar sobre elasunto de aquel tunel, el tambien vivia cercade               
                p oras me fui a casa, alli me encontre a mi padre, estabaaciendo                     o para el. Y como yo estavahambriento me comi su cena cuando el                    oco.Se enfado mucho porque tubo que preparar otra cena.Despues                

    .listado-iconos 
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")   
                    h2.mb-4 Seguridad 
                    pestavahambriento me comi su cena cuando el                oco.Se enfado mucho porque tubo que preparar otra cena.Despues          